<div class="card mb-3">
    <div class="card-header d-flex justify-content-between aling-item-center text-info">
        {{ tarea.titulo }}
        <div>
            <button class="btn btn-info" (click)="tarea.oculto = !tarea.oculto">
                Info
            </button>
            <button class="btn btn-danger" (click)="deleteTareas(tarea)">
                Eliminar
            </button>
        </div>
    </div>
    <div class="card-body" [hidden]="tarea.oculto">
        {{ tarea.descripcion }}
    </div>
</div>
